body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-container {
    margin: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.calendar div {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.calendar div.completed::before {
    content: 'X';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.workout-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
