body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-container {
    margin: 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-gap: 10px;
}

.calendar div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 1px solid #ccc;
}

.calendar div.completed {
    background-color: #a5d6a7;
}

.workout-container {
    display: none;
    flex-direction: column;
    align-items: center;
}

#finishWorkoutButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#finishWorkoutButton:hover {
    background-color: #45a049;
}
